.page-body {
    width: 1620px;
    height: 980px;
}

.data-page {
    position: relative;
    width: 1580px;
    height: 935px;
    padding-top: 5px;
    margin: 20px;
    background-color: #fff;
    border-radius: 15px;
}