.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 980px;
    background-color: #E3E3E3;
  }
  
  .navbar-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    /* height: 240px; */
  }
  
  .item-head {
    width: 230px;
    height: 80px;
    margin: 0;
    padding-left: 70px;
    font-size: 32px;
    line-height: 80px;
    background: url("../../../assets/images/navbarH-icon.png") no-repeat;
    background-size: 27px 27px;
    background-position: 25px 30px;
  }
  
  .item-body {
    width: 230px;
    height: 80px;
    padding-left: 70px;
    font-size: 28px;
    line-height: 80px;
    background: url("../../../assets/images/navbarb-nc-icon.png") no-repeat;
    background-size: 14px 12px;
    background-position: 35px 36px;
    cursor: pointer;
  }
  
  .active-item-body {
    color: #00A3FF;
    background: url("../../../assets/images/navbarb-icon.png") no-repeat;
    background-size: 14px 12px;
    background-position: 35px 36px;
    background-color: #F0F0F0;
  }